* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
 
}
body {
  background-color: #222;
}

/* Navigation */
.navbar {
  background-color: #333;
  padding: 0px 20px;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.nav-text {
  color: white;
  font-weight: 600;
}
.nav-text:hover {
  color: #ff8b00;
}
.navbar-nav {
  margin: 0px auto;
}
.nav-link {
  color: #fffafa;
  margin: 10px;
  font-weight: 500;
}
.nav-link:hover {
  color: #ff8b00 !important;
}
.navbar-toggler-icon {
  border: peachpuff;
}

.fab {
  color: white;
  margin: 10px;
  cursor: pointer;
}
.fab:hover {
  color: #ff8b00 !important;
}
.icon-text {
  color: white;
  margin: 6px 10px 0px;
  font-weight: 500;
}
/* section1 */
#section1 {
  width: 100%;
  height: 600px;
  position: relative;
}
.sec1-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 600px;
  z-index: -1;
}

.sec1-para1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  padding-top: 70px;
  text-transform: uppercase;
}
/* Section Card */
#section2 {
  padding: 50px 20px;
}
.sec2-text {
  margin-bottom: 50px;
  text-align: center;
  color: white;
}
.sec2-card {
  color: white;
  border: none;
  background: #333;
}
/* section3 */

.sec3-card1 {
  background: #333;
  color: white;
  border: none;
}
.sec3-card2 {
  background: #333;
  color: white;
  border: none;
  margin-left: auto;
}
.sec3-text {
  margin-bottom: 50px;
  text-align: center;
  color: white;
}
/* section4 */

#section4 {
  padding: 50px 20px;
}
.sec4-text {
  margin-bottom: 50px;
  text-align: center;
  color: white;
}

.sec4-card {
  background: #333;
  color: white;
  border: none;
}
.social-icon {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}
.social-icon span {
  font-size: 20px;
  font-weight: 500;
}
/* section5 */

.sec5-card {
  background-color: #222;
  border: none;
}
.sec5-para {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.sec5-btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: #333;
  font-weight: bold;
  background-color: white;
  border-radius: 30px;
  border: none;
}
.btn:hover {
  color: #ff8b00;
  border: 2px solid #ff8b00;
}
/* section6 */
#section6 {
  padding: 50px 0px;
}

.sec6-text {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
.sec6-card {
  background-color: #333;
  color: white;
}
.sec6-form {
  width: 300px;
}

.sec6-btn {
  background-color: white;
  color: #333;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
}

/* section7 */
.sec7-foot {
  background-color: #333;
  color: white;
}
.sec7-text1 {
  margin-bottom: 15px;
}
.sec7-text1 span {
  font-size: 20px;
  font-weight: 500;
}

.sec7-text2 {
  padding-bottom: 30px;
}
.sec7-btn {
  background-color: white;
  color: #333;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
}
